.app-container{
  display: flex;
}
.content-container{
  width: 100%;
}
.sideBar{
  min-height: 800px;
}
.sd-card{
  margin: 25px;
}

.sd-reaction{
  margin:0 4px;
}
.sd-alert{
  margin: 8px 0;
}
.sd-form{
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}

.welcome-message{
  margin: 100px 0;
}
.sd-spinner{
  margin: 10% 0;
}